@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
    font-size: 90%;
    margin: 0;
    padding: 0;
    background-color: #e7e7e7;
    width: 100%;
}
.contenedor {
    display: flex;
    flex-grow: 1;
    background-color: #f3f3f3;
}

.sidebar {
    width: 220px;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    color: #000000;
    flex-direction: column;
    position:fixed;
}

.sidebar h1 {
    font-size: 20px;
    margin-top: 25px;
    text-align: center;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    padding: 20px 10px;
}

.sidebar ul li {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 0.5rem;
    padding: 10px;
}

.sidebar ul li:hover {
    background-color: #f3cc56;
}

.sidebar ul li span {
    margin-right: 10px;
    margin-left: 7px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}

.sidebar .logout {
    margin-top: auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

button:hover {
    background-color: #f3cc56;
    color: #000000;
    border-color: #f3cc56;
}

.contenedor_principal {
    flex-grow: 1;
    background-color: #ffffff;
    margin: 15px;
    border-radius: 0.5rem;
    margin-left: 17.5%;
}

.contenedor_principal h1 {
    font-size: 36px;
    font-weight:500;
    color: #000000;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 7px 5px 2px ;
    background-color: #ffffff;
    color: #000000;
    width: 99%;
    border-radius: 0.5rem;
}

.header .usuario {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header .usuario span {
    width: 40px;
    margin-left: 10px;
    color: #000000;
}

.contenedor_listas {
    display: flex;
    flex-direction: column;
    padding: 15px 2px;
}
.contenedor_listas h3 {
    margin: 10px 20px;
    font-weight: 300;
    font-size: 3vh;
    margin-left: 45px;
}

.ingresar_notas {
    display: flex;
    flex-direction: column;
    padding: 15px 2px;
    background-color: #f3f3f3;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 5px 25px;
    margin: 10px 30px;
}

.header h3 {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 30px;
}

.lista {
    margin: 20px 5px; 
}

.lista_notas {
    background-color: #f3f3f3;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 5px 25px;
    margin: 10px 30px;
}

.lista_div {
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1px;
}

.lista_div_header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1px;
}
   
.div1 {
    grid-column: span 2 / span 2;
}

.div2 {
    grid-column-start: 3;
}

.div3 {
    grid-column-start: 4;
}

.div4 {
    grid-column-start: 5;
}

.div5 {
    grid-column: span 2 / span 2;
    grid-column-start: 6;
}

.linea {
    height: 5px;
    width: 100%;
    border-radius: 0.5rem;
    margin-right: 10px;
    margin-bottom: 15px;
    background-color: #b0ddfa;
}

button {
    background-color: #FFFFFF;
    border: 1px solid #a8a8a8;
    padding: 7px 30px;
    border-radius: 0.5rem;
    cursor: pointer;
    margin: 7px;
    display: flex;
    align-items: center;
    gap: 5%;
}

img {
    width: 25%;
}

.contenedor_imagen {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

nav {
    margin: 5px 40px;
    display: flex;
    flex-direction: row;
}

.tarjeta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #e7f3fd;
    width: 90%;
    margin: 10px 25px;
    border-radius: 0.5rem;
}

.tarjeta p {
    font-weight:500;
}

.tarjeta img {
    width: 11%;
    margin: 0;
}

.titulo_form {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 10px;
    width: 96%;
    margin: 0 25px 20px 25px ;
    border-radius: 0.5rem;
}

.form { 
    background-color: #FFFFFF;
    border-radius: 0.7rem;
    padding: 10px;
    border-color: #e2e2e2;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.form div {
    margin: 10px;
}

.div_calificar {
    background-color: #FFFFFF;
    border-radius: 0.7rem;
    padding: 10px;
    border-color: #e2e2e2;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1px;
}

.div_calificar p {
    padding: 5px;
    margin: 5px;
}

.div_calificar_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}
    
.div_calificar1 {
    grid-column: span 2 / span 2;
}

.div_calificar2 {
    grid-column-start: 3;
}

.div_editar_nota, .div_eliminar_nota {
    display: flex;
    justify-content: baseline;
    flex-direction: column;
    margin: 10px 25px;
    background-color: #f3f3f3;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 5px 25px;
}

.div_editar_nota button, .div_eliminar_nota button {
    background-color: #FFFFFF;
    border: 1px solid #e7e7e7;
    padding: 10px;
    border-radius: 0.5rem;
    cursor: pointer;
    margin: 5px;
    width: 50%;
}

input, select {
    background-color: #FFFFFF; 
    border: 1px solid #a8a8a8; 
    padding: 7px; 
    border-radius: 0.3rem;
    cursor: pointer;
    margin-right: 7px;
    margin: 7px;
}